<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Rikoten Admin Page</title>
	</head>
	<body>
		<h2>Rikoten Admin Page</h2>
		<h3>System</h3>
		<ul>
			<li><a href="./munin/">Munin</a></li>
			<li><a href="./phpinfo.php">PHPInfo</a></li>
		</ul>
		<h3>Mailing List</h3>
		<ul>
			<li><a href="./mailman/">Mailman</a></li>
		</ul>
	</body>
</html>
