# Mac
.DS_Store

# Vim and Emacs
*.swp
*~

# http://github.com/github/gitignore/blob/master/ChefCookbook.gitignore
.vagrant
chef/cookbooks

# Bundler
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

repo/*
chef/berks-cookbooks
Berksfile.lock
